<div class="articles-list">
  <h2>Listings near you:</h2>
  <% @articles.each do |article| %>
    <div class="article-container">
      <h3><%= article.title %></h3>
      <span><%= link_to("Show details", article_path(article)) %></span>
    </div>
  <% end %>
</div>